.App {
  text-align: center;
}

body {
  font-family: 'Playfair Display';
}

.bg-image {
  background-image: url(./pages/assets/Frame_8_7.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.grid-text1 {
  padding-left: 24rem;
}

.grid-text2 {
  padding-left: 24rem;
  padding-bottom: 5rem;
}

.title {
  font-family: Playfair Display;
  color: white;
  font-size: 50px;
}

.container {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: Playfair Display;
  color: white
}

.button-inv {
  text-transform: "none";
  font-family: "Playfair Display";
  background-color: "#DE136B";
  border-radius: "100px";
  color: "white";
  margin-top: "15rem";
  padding-bottom: "0.7rem";
  height: "60px";
  width: "55vh";
  font-weight: "600";
  font-size: "30px";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.button {
  margin-top: 9rem;
  padding-top: -30rem;
  width: 55vh;
  font-size: 30px;
}

@media (max-width: 576px) {
  .bg-image {
    background-image: url(./pages/assets/Frame_8_7.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }

  .grid-text1 {
    margin-left: -46rem;
  }
  
  .grid-text2 {
    margin-left: -46rem;
    padding-bottom: 5rem;
  }
  
  .title {
    font-family: Playfair Display;
    color: white;
    font-size: 50px;
    width: 100%;
  }

  .grid-button{
    padding-top: 3rem;
  }
  .button {
    margin-bottom: -40rem;
    width: 35vh;
    font-size: 22px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
